#sidebar {
    overflow: hidden;
    transition: all 0.3s;
    transform-origin: right;
}

#resizer {
    cursor: col-resize;
}

#search-history-title {
    padding: 10px;
}

#search-section input {
    padding: 10px;
}

#search-section button, .history-btn {
    padding: 10px;
}

@media (max-width: 768px) {

    #sidebar {
        padding: 10px;
    }
}

#city-events img {
    height: 100px;
}

/* Style for the custom modal */
#confirmationModal {
  /* Basic styling for demonstration */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  z-index: 1000;
}

/* Style for the custom modal */
#confirmationModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  z-index: 1000;
}